<p id="notice"><%= notice %></p>

<p>
  <strong>Team Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @team.department %>
</p>

<p>
  <strong>Company:</strong>
  <%= @team.company.name %>
</p>

<p>
  <strong>Team Leader:</strong>
  <%= @team.owner.email %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
