<%= form_with(model: userdetail, local: true) do |form| %>
  <% if userdetail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(userdetail.errors.count, "error") %> prohibited this userdetail from being saved:</h2>

      <ul>
      <% userdetail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :team_id %>
    <%= form.text_field :team_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :usrphoto %>
    <%= form.file_field :usrphoto, class: "btn btn-info" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
