<%= form_with(model: userdetail, local: true) do |form| %>
  <% if userdetail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(userdetail.errors.count, "error") %> prohibited this userdetail from being saved:</h2>

      <ul>
      <% userdetail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, class: "form-control form-control-sm"  %>
  </div>

  <div class="form-group">
    <%= form.label :team_id %>
    <%= form.collection_select(:team_id, Team.all, :id, :name, {include_blank: false}, {class: 'form-control '}) %>
  </div>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control form-control-sm"  %>
  </div>

  <div class="form-group">
    <%= form.label :phone %>
    <%= form.text_field :phone, class: "form-control form-control-sm"  %>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, class: "form-control form-control-sm"  %>
  </div>

  <div class="form-group">
    <%= form.label "Usr photo" %>
    <%= form.file_field :usrphoto, class: "btn btn-info" %>
  </div>

  <div class="actions">
    <%= form.submit "Send", class: "btn btn-danger" %>
  </div>
<% end %>

<br>
