<p id="notice"><%= notice %></p>

<h1>Userdetails</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Team</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Usrphoto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @userdetails.each do |userdetail| %>
      <tr>
        <td><%= userdetail.user %></td>
        <td><%= userdetail.team %></td>
        <td><%= userdetail.name %></td>
        <td><%= userdetail.phone %></td>
        <td><%= userdetail.address %></td>
        <td><%= userdetail.usrphoto %></td>
        <td><%= link_to 'Show', userdetail %></td>
        <td><%= link_to 'Edit', edit_userdetail_path(userdetail) %></td>
        <td><%= link_to 'Destroy', userdetail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Userdetail', new_userdetail_path %>
