<%= form_with(model: company, local: true, :html=>{:multipart => true} ) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <div class="col-sm">

      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control form-control-sm" %>
      </div>

      <div class="form-group">
        <%= form.label :website %>
        <%= form.text_field :website, class: "form-control form-control-sm" %>
      </div>

      <div class="form-group">
        <%= form.label :email %>
        <%= form.text_field :email, class: "form-control form-control-sm" %>
      </div>

      <div class="form-group">
        <%= form.label :industry %>
        <%= form.text_field :industry, class: "form-control form-control-sm" %>
      </div>

      <div class="form-group">
        <%= form.label :phone %>
        <%= form.text_field :phone, class: "form-control form-control-sm" %>
      </div>

      <div class="form-group">
        <%= form.label :address %>
        <%= form.text_area :address, class: "form-control form-control-sm" %>
      </div>

      <div class="form-group">
        <%= form.label :zipcode %>
        <%= form.text_field :zipcode, class: "form-control form-control-sm" %>
      </div>

      <div class="form-group">
        <%= form.label :country %>
        <%= form.country_select :country, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :profile %>
        <%= form.text_area :profile, class: "form-control form-control-sm" %>
      </div>

      <div class="form-group">
        <%= form.label "Upload Company Logo" %>
        <%= form.file_field :logoimg, class: "btn btn-info" %>
      </div>

      <div class="form-group">
        <%= form.label "Manager Email" %>
        <%= form.text_field :emailmng, class: "form-control form-control-sm" %>
      </div>

      <div class="actions">
        <%= form.submit "Send", :class=>"btn btn-danger" %>
      </div>
    </div>
    <div class="col-sm">
    </div>
  </div>
<% end %>
