<!DOCTYPE html>
<html>
  <head>
    <title>ZeusRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">

  </head>

  <body>
    
    <%= render "layouts/topbar" %>

    <div class="principal">
      <%= yield %>
    </div>

    <%= render "layouts/footer" %>

  </body>
</html>
